@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "unfriendlyqueen";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(20% 0 0);
  --color-primary: oklch(60% 0.118 184.704);
  --color-primary-content: oklch(98% 0.014 180.72);
  --color-secondary: oklch(51% 0.262 276.966);
  --color-secondary-content: oklch(96% 0.018 272.314);
  --color-accent: oklch(64% 0.2 131.684);
  --color-accent-content: oklch(98% 0.031 120.757);
  --color-neutral: oklch(26% 0 0);
  --color-neutral-content: oklch(98% 0 0);


  --color-info: oklch(70% 0.165 254.624);
  --color-info-content: oklch(28% 0.091 267.935);
  --color-success: oklch(79% 0.209 151.711);
  --color-success-content: oklch(26% 0.065 152.934);
  --color-warning: oklch(85% 0.199 91.936);
  --color-warning-content: oklch(28% 0.066 53.813);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 1;
}
